<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script type="text/javascript" src="../javascript/Jquery.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body style="background-color: #ffffff;background-size:100% 100%;;width:100%;height:100%;background-repeat:no-repeat;position:absolute;">

<div style="position:absolute;top:15px;left: 15px">
    <img src="../img/logo3.png" style="height: 130px">
</div>
<div style="position:absolute;top:75px;left:180px;color:#000000;font-weight: 600">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中石化华北石油局</p>
    <p>Sinopec North China Petroleum Bureau</p>
</div>

<div class="row justify-content-center align-content-center h-100">
    <div class="col-md-5" style="text-align: center;font-size: 3rem;color:#000000;">
        中层领导干部考评数据库
    </div>
</div>
</body>
</html>