<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关键经历得分表</title>
    <script type="text/javascript" src="../javascript/Jquery.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>

    <script type="text/javascript" src="../javascript/index.js"></script>
    <script type="text/javascript" src="../javascript/keyExperienceScore.js"></script>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body class="pt-2">
    <div id="table-toolbar">
        <div class="btn-group" role="group">
            <a class="btn btn-primary" style="color: white;padding-top: 8px">当前页：关键经历得分表</a>
            <button id="refresh-btn" class="btn btn-primary">
                <i class="bi bi-arrow-clockwise"></i>
                刷新
            </button>
            <button id="calculation-btn" class="btn btn-primary">
                <i class="bi bi-arrow-clockwise"></i>
                计算
            </button>
            <button id="add-btn" class="btn btn-primary">
                <i class="bi bi-plus-square icon"></i>
                新增
            </button>
            <button id="update-btn" class="btn btn-primary">
                <i class="bi bi-pencil-square icon"></i>
                修改
            </button>
            <button id="delete-btn" class="btn btn-primary">
                <i class="bi bi-trash icon"></i>
                删除
            </button>
            <a class="btn btn-primary" style="color: white;padding-top: 8px" href="../excel/template.xlsx">
                <i class="bi bi-arrow-down-square"></i>
                下载excel模板
            </a>
            <button id="upload-btn" class="btn btn-primary">
                <i class="bi bi-arrow-up-square"></i>
                上传excel
            </button>
        </div>
        <input type="file" id="file" hidden="hidden">
    </div>

    <div class="table-div border-top">
        <table id="keyExperienceScoreTable"></table>
    </div>

    <!--    删除窗体-->
    <div id="delete-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">提示</div>
                </div>
                <div id="delete-modal-body" class="modal-body">
                    确定删除吗？
                </div>
                <div class="border-top" style="padding: 15px;">
                    <button id="delete-submit-btn" type="button" class="btn btn-primary">
                        <i class="bi bi-arrow-bar-up icon"></i>
                        确定
                    </button>
                    <button id="delete-close-btn" type="button" class="btn btn-primary left-margin">
                        <i class="bi bi-x-circle icon"></i>
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--    添加窗体-->
    <div id="add-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">添加</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <button id="add-essential-show" class="btn btn-primary">
                        <i class="bi bi-plus-square icon"></i>
                        选择基本信息
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add-form" class="needs-validation">
                        <div class="form-group">
                            <input id="add-eiId" name="eiId" type="hidden">
                        </div>
                        <div class="form-group">
                            <label for="add-fullName">姓名</label>
                            <input id="add-fullName" type="text" class="form-control" autocomplete="off" readonly="readonly">
                            <div class="invalid-feedback">
                                请选择姓名！
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="add-ksDate">起始时间</label>
                            <input id="add-ksDate" name="ksDate" type="date" class="form-control" autocomplete="off" >
                            <div class="invalid-feedback">
                                请填写起始时间！
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="add-jsDate">终止时间</label>
                            <input id="add-jsDate" name="jsDate" type="date" class="form-control" autocomplete="off" >
                            <div class="invalid-feedback">
                                请填写终止时间！
                            </div>
                        </div>
<!--                        <div class="form-group">-->
<!--                            <label for="add-age">任职年龄</label>-->
<!--                            <input id="add-age" name="age" type="text" class="form-control" autocomplete="off" >-->
<!--                            <div class="invalid-feedback">-->
<!--                                请填写任职年龄！-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="form-group">
                            <label for="add-secondaryUnit">所在单位</label>
                            <input id="add-secondaryUnit" type="text" class="form-control" autocomplete="off" readonly="readonly">
                            <div class="invalid-feedback">
                                请选择所在单位！
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="add-job">从事工作或职务</label>
                            <input id="add-job" name="job" type="text" class="form-control" autocomplete="off" >
                            <div class="invalid-feedback">
                                请填写从事工作或职务！
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="add-experienceStage">经历阶段</label>
                            <input id="add-experienceStage" name="experienceStage" type="text" class="form-control" autocomplete="off" >
                            <div class="invalid-feedback">
                                请填写经历阶段！
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="add-experience">经历项</label>
                            <input id="add-experience" name="experience" type="text" class="form-control" autocomplete="off" >
                            <div class="invalid-feedback">
                                请填写经历项！
                            </div>
                        </div>
                    </form>
                </div>
                <div class="border-top" style="padding: 15px;">
                    <button id="add-submit-btn" type="button" class="btn btn-primary">
                        <i class="bi bi-arrow-bar-up icon"></i>
                        提交
                    </button>
                    <button id="add-close-btn" type="button" class="btn btn-primary left-margin">
                        <i class="bi bi-x-circle icon"></i>
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--    修改窗体-->
    <div id="update-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">修改</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <button id="update-essential-show" class="btn btn-primary">
                        <i class="bi bi-plus-square icon"></i>
                        选择基本信息按钮
                    </button>
                </div>
                <div class="modal-body">
                    <form id="update-form" class="needs-validation">
                        <div class="form-group">
                            <input id="update-id" name="id" type="hidden">
                        </div>
                        <div class="form-group">
                            <input id="update-eiId" name="eiId" type="hidden">
                        </div>
                        <div class="form-group">
                            <label for="update-fullName">姓名</label>
                            <input id="update-fullName" name="fullName" type="text" class="form-control" autocomplete="off" readonly="readonly">
                            <div class="invalid-feedback">
                                请选择姓名！
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="update-ksDate">起始时间</label>
                            <input id="update-ksDate" name="ksDate" type="date" class="form-control" autocomplete="off" >
                            <div class="invalid-feedback">
                                请填写起始时间！
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="update-jsDate">终止时间</label>
                            <input id="update-jsDate" name="jsDate" type="date" class="form-control" autocomplete="off" >
                            <div class="invalid-feedback">
                                请填写终止时间！
                            </div>
                        </div>
<!--                        <div class="form-group">-->
<!--                            <label for="update-age">任职年龄</label>-->
<!--                            <input id="update-age" name="age" type="text" class="form-control">-->
<!--                        </div>-->
                        <div class="form-group">
                            <label for="update-secondaryUnit">所在单位</label>
                            <input id="update-secondaryUnit" name="secondaryUnit" type="text" class="form-control"  readonly="readonly">
                            <div class="invalid-feedback">
                                请选择所在单位！
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="update-job">从事工作或职务</label>
                            <input id="update-job" name="job" type="text" class="form-control" autocomplete="off" >
                        </div>
                        <div class="form-group">
                            <label for="update-experienceStage">经历阶段</label>
                            <input id="update-experienceStage" name="experienceStage" type="text" class="form-control" autocomplete="off" >
                        </div>
                        <div class="form-group">
                            <label for="update-experience">经历项</label>
                            <input id="update-experience" name="experience" type="text" class="form-control" autocomplete="off" >
                        </div>
                    </form>
                </div>
                <div class="border-top" style="padding: 15px;">
                    <button id="update-form-btn" type="button" class="btn btn-primary">
                        <i class="bi bi-arrow-bar-up icon"></i>
                        提交
                    </button>
                    <button id="close-form-btn" type="button" class="btn btn-primary left-margin">
                        <i class="bi bi-x-circle icon"></i>
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--    查询基本信息窗体-->
    <div id="show-essential-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">选择基本信息</div>
                </div>
                <div class="modal-body">
                    <input id="showEssentialInfoId" type="hidden"/>
                    <table id="show-table-essential"></table>
                </div>
                <div class="border-top" style="padding: 15px;">
                    <button id="essential-submit-btn" type="button" class="btn btn-primary">
                        <i class="bi bi-arrow-bar-up icon"></i>
                        确定
                    </button>
                    <button id="essential-close-btn" type="button" class="btn btn-primary left-margin">
                        <i class="bi bi-x-circle icon"></i>
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>