<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基本信息</title>
    <script type="text/javascript" src="../javascript/Jquery.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/icons/bootstrap-icons.css">
    <script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
    <!--bootstrap-table-->
    <link rel="stylesheet" href="../bootstrap-4.5.0-dist/css/bootstrap-table.css">
    <script src="../bootstrap-4.5.0-dist/js/bootstrap-table.js"></script>
    <script src="../bootstrap-4.5.0-dist/js/bootstrap-table-zh-CN.min.js"></script>

    <script type="text/javascript" src="../javascript/index.js"></script>
    <script type="text/javascript" src="../javascript/keyperformance.js"></script>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body class="pt-2">
<div class="top-toolbar row">
    <div class="col-md-3 mb-2">
        <input id="fullName" type="text" class="form-control" placeholder="请输入姓名" autocomplete="off">
    </div>
    <div class="col-md-3 mb-2">
        <input id="secondaryUnit" type="text" class="form-control" placeholder="请输入二级单位" autocomplete="off">
    </div>
    <div class="col-md-2 mb-2">
        <button id="query_button" class="btn btn-primary">
            <i class="bi bi-search icon"></i>
            查询
        </button>
    </div>
</div>

<div id="table-toolbar">
    <div class="btn-group" role="group">
        <a class="btn btn-primary" style="color: white;padding-top: 8px">当前页：关键绩效</a>
        <button id="refresh-btn" class="btn btn-primary">
            <i class="bi bi-arrow-clockwise"></i>
            刷新
        </button>
    </div>
</div>

<div class="table-div border-top">
    <table id="keyperformanceTable"></table>
</div>


</body>
</html>